if defined?(Toto)
  # This is the configuration to use when running within sinatra
  project_path = File.dirname(__FILE__)
  environment = :production
  css_dir = File.join(File.dirname(__FILE__), 'public', 'css')
else
  # this is the configuration to use when running within the compass command line tool.
  css_dir = File.join 'public', 'css'
  relative_assets = true
  environment = :production
end

sass_dir        = 'sass' 
images_dir      = File.join(File.dirname(__FILE__), 'public', 'images')
http_path       = "/" 
http_images_path = "/images" 
http_stylesheets_path   = "/css" 
output_style    = :compact