%h1 Portfolio
%p Some of our recent work

%section#tickstart
  %h2 TickStart
  %ul.screenshots
    %li
      %img{:src => "/images/tickstart-300x198.jpg", :alt => "TickStart screenshot"}
    %li
      %img{:src => "/images/tickstart-2-300x198.jpg", :alt => "TickStart screenshot"}
    %li
      %img{:src => "/images/tickstart-3-300x198.jpg", :alt => "TickStart screenshot"}
  %dl.portfolio-entry
    %dt Client
    %dd
      %a{:href => "http://squeejee.com"} Squeejee
    %dt What we did
    %dd Interface design, front-end development
    %dt Tools used
    %dd Haml, Sass, jQuery, Google visualizations, AmCharts

%section#official-team-gear
  %h2 Official Team Gear
  %ul.screenshots
    %li
      %img{:src => "/images/tech-300x198.jpg", :alt => "Tech screenshot"}
    %li
      %img{:src => "/images/ulm-300x198.jpg", :alt => "ULM screenshot"}
    %li
      %img{:src => "/images/mcneese-300x198.jpg", :alt => "McNeese screenshot"}
  %dl.portfolio-entry
    %dt Client
    %dd
      %a{:href => "http://officialteamgear.com"} Official Team Gear
    %dt What we did
    %dd Interface design, front-end/theme development
    %dt Tools used
    %dd Sass, jQuery, Shopify

%section#tree-frog-studios
  %h2 Tree Frog Studios
  %ul.screenshots
    %li
      %img{:src => "/images/tree-frog-300x198.jpg", :alt => "Tree Frog screenshot"}
  %dl.portfolio-entry
    %dt Client
    %dd
      %a{:href => "http://officialteamgear.com"} Official Team Gear
    %dt What we did
    %dd Interface design, front-end/theme development, social media marketing
    %dt Tools used
    %dd WordPress, Thematic theme framework, jQuery
    